.make-sentinels
.installed.txt
*-mxdev.txt
*.egg-info
*.mo
*.py?
*.log
*.swp
.installed.cfg
.mr.developer.cfg
venv/
bin/
build/
buildout.cfg
coverage/
develop-eggs/
dist/
eggs/
parts/
src/
var/
etc/
var/
instance/
sources/
pip-selfcheck.json
