*.egg-info
*.mo
*.pyc
.installed.cfg
.mr.developer.cfg
README.html
bin/
build/
buildout.cfg
coverage/
develop-eggs/
dist/
eggs/
parts/
src/
var/

### Node ###
# Logs
/yarn-debug.log*
/yarn-error.log*

# Dependency directories
/node_modules/

# Yarn Integrity file
/.yarn-integrity
