[buildout]
extends =
    https://raw.githubusercontent.com/4teamwork/ftw-buildouts/master/test-plone-4.3.x.cfg
    sources.cfg

package-name = ftw.lawgiver
test-extras = tests, deletepermission

[versions]
# plone.restapi indirectly import zipp
# (plone.schema -> jsonschema -> importlib-metadata -> zipp)
# and zipp version 0.6 is not python 3 compatible, though it claims to be
zipp = 0.5.2
# PyJWT 2.0.0 has dropped python 2 support.
PyJWT = 1.7.1
